/* Styles */
/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #ccae17;
    color: #333;
}

#body1{
    height: 100%;
    background-color: #1c95dc;
    background-image: linear-gradient(#57EBFF, #45e385);
}

#body2{
    height: 100vh;
    background-color: #1c95dc;
    background-image: linear-gradient(#57EBFF, #45e385);
    border-radius: 30px;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
}

.top_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.title{

    /*display: flex;*/
    text-align: center;
    color: black; 
    font-size: 80px; 
    font-family: League Spartan; 
    font-weight: 400; 
    margin:10px;
}

.total_unread{
    display: flex;
    color: black; 
    font-size: 30px; 
    font-family: League Spartan; 
    font-weight: 400; 
    margin:10px;
    height: 40%;
    background-color: #57EBFF;
    border-radius: 25px;
}

.Background{ 
    border-radius: 25px;
    justify-content: center; 
    width: 100%;
    height: 75%;
    background-color:#57EBFF;
}

.centered{
    text-align: center;
    flex: 1;
}

.right{
    text-align: right;
}


#emailSummaryContainer{
    height: 95vh; 
    background: #ffffff; 
    border-radius: 30px;   
}

/* Header styles */
.header {
    background-color: #4a69bd;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    font-size: 18px;
}

/* Container for content */
.content {
    margin-top: 10px;
}

/* Styles for buttons */
.button {
    background-color: #78e08f;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/* finish this for the return button*/
#container{
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center;
    text-align: center;
}

.button:hover {
    background-color: #38ada9;
}

/* Styles for input fields */
.input-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc; /*#ccc*/ 
    border-radius: 4px;
    box-sizing: border-box;
}

/* Styles for labels */
.label {
    margin-bottom: 5px;
    display: block;
}

/* Footer styles */
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #777; /*#777*/
}


#emailcontainer{
    position: left;
    width: 100%;
    height: 71%;
    overflow: hidden;
    display: flex; 
    text-align: center;
} 

/* Carousel Styles */
.carousel-container {
    position: relative;
    width: 100%;
    height: 71%;
    overflow: hidden;   
    display: flex; /*Something about display flex makes the slides get larger and larger*/
    text-align: center;
  }
  
.carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
  }
  
.slide {
    flex: 0 0 auto;
    width: 45%; 
    margin-left: 5vw;
    margin-top: 5vh;
    height: 100%;
    background-color: #f0f0f0; 
    border: 1px solid #919cfd;  
}
.slidesummary {
    flex: 0 0 auto;
    width: 45%; 
    margin-top: 5vh;
    margin-right: 5vw;
    height: 100%;
    background-color: #f0f0f0; 
    border: 1px solid #919cfd;   
}

  
.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    

    background-color: #78e08f;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
.next-button {
    left: 0;
    top: 90%;
    left: 80%;
    
  }
.prev-button {
    right: 0;
    top: 90%;
    right: 80%;

}
  
.prev-button:hover,
.next-button:hover {
    background-color: #38ada9;
  }
  
